This notebook is to scrap table from a wikipedia page and turn the data in a new dataframe.(Roy Abimanyu)

In [2]:
from bs4 import BeautifulSoup
import requests
import urllib.request
import pandas as pd
from urllib.request import urlopen

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')

In [4]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]

In [5]:
df.drop(df.loc[df['Borough']== "Not assigned"].index, inplace=True)

In [6]:
df.groupby('Postal code').agg(lambda x: ','.join(x))
dp = df.reset_index(drop=True)

In [7]:
dp.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [8]:
geocode = pd.read_csv('https://cocl.us/Geospatial_data')
geocode.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
postal_geocode = pd.merge(dp, geocode, how='left', left_on = 'Postal code', right_on = 'Postal Code')
postal_geocode.drop("Postal Code", axis=1, inplace=True)
postal_geocode.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494

First, I used the previous task coding and data and pasted in this notebook. I continued to get the geo coordinates provided in the submission page. I parsed the geo coordinates into a dataframe and merged it to the dataframe from the first task. I dropped the Postal Code column of the geo coordinates dataframe.

In [12]:
postal_geocode.shape

(103, 5)