This notebook is to scrap table from a wikipedia page and turn the data in a new dataframe.(Roy Abimanyu)

In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests
import urllib.request
import pandas as pd
from urllib.request import urlopen

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')

In [4]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [5]:
df.drop(df.loc[df['Borough']== "Not assigned"].index, inplace=True)
dp = pd.DataFrame(df)

In [6]:
df_postal = dp.groupby(['Postal code', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df_postal.columns = ['Postal Code', 'Borough', 'Neighborhood']
df_postal

,Postal Code,Borough,Neighborhood
0,M1B,Scarborough,Malvern / Rouge
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
2,M1E,Scarborough,Guildwood / Morningside / West Hill
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...
101,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...
102,M9W,Etobicoke,Northwest

First, I imported all the needed libraries.
I parsed wikipedia page and scrap the table. Panda transformed the table into a dataframe. I dropped all "Not assigned" Boroughs and checked that there was no "Not assigned" Neighborhood.

I used groupby and join to merge values from cells under Neighborhood column, based on post code.

I tried before with BeautifulSoup, but its solution path was complicated. So decided to use Pandas.

In [8]:
df_postal.shape

(103, 3)